# Byte-compiled / optimized / DLL files

**pycache**/
*.py[cod]
*$py.class

# Virtual environments

.venv/
venv/
env/
ENV/

# Distribution / packaging

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs

*.log

# Unit test / coverage reports

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml

# Type checker

.mypy_cache/
.pyre/

# Jupyter Notebook

.ipynb_checkpoints

# VS Code

.vscode/

# PyCharm

.idea/

# macOS

.DS_Store

# Windows

Thumbs.db

# dotenv

.env
.env.*

# SQLite

*.sqlite3

# Temporary files

*.swp
*.swo
